# API keys

openai/openai_api_key.txt
xai/xai_api_key.txt
google-ai/api_key.txt

# input / output files

llm-projects/resume-matcher/resume.md 
llm-projects/resume-matcher/resume.md 
llm-projects/resume-matcher/job-description.txt 
llm-projects/resume-matcher/match_report.txt 
llm-projects/test-programs/embeddings.json 
llm-projects/test-programs/input.txt 
